body {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background: rgb(0,0,0);
    background: linear-gradient(216deg, rgba(0,0,0,1) 0%, rgba(38,3,52,1) 27%, rgba(0,0,0,1) 59%, rgba(38,3,52,1) 93%); min-height:100vh;
}